apiVersion: v1
kind: Service
metadata:
  name: kustomizeservice
  namespace: dev
  labels:
    name: deploylabel
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 8080
    nodePort: 30002
  selector:
    env: deploylabel